@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

input:focus {
  outline: none !important;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
}

.title-bg {
  font-family: "Playfair Display", "Times New Roman";
  font-size: 110px;
  font-weight: 400;
  line-height: 146.63px;
  color: rgba(255, 255, 255, 0.1019607843);
}

.title {
  font-family: "Playfair Display", "Times New Roman";
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  color: #ffffff;
  margin-top: -80px;
}

.title-info {
  font-size: 30px;
  font-weight: 400;
  line-height: 36.57px;
  color: #ffffff;
}

.btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  padding: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.2s linear;
  width: fit-content;
}
.btn path {
  transition: all 0.2s linear;
}
.btn:hover {
  background: #ffffff;
  color: #333333;
}
.btn:hover path {
  stroke: #333333;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
.header.fixed {
  background: rgba(51, 51, 51, 0.95);
}
.header.fixed .header-logo__img {
  transform: scale(1) !important;
  margin: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-logo__img {
  width: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  transform: scale(1.4);
  margin-right: 20px;
}
.header-logo__info {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.2s linear;
}
.header-logo__info:hover {
  color: #d9d9d9;
}
.header .nav-list {
  display: flex;
  gap: 30px;
}
.header .nav-list .nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.header .nav-list .nav-link:hover {
  color: #d9d9d9;
}
.header .phone-number {
  font-size: 30px;
  font-weight: 600;
  line-height: 36.57px;
  color: #FFFFFF;
  transition: all 0.2s linear;
}
.header .phone-number:hover {
  color: #d9d9d9;
}
.header .email-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  padding-top: 15px;
  display: block;
  transition: all 0.2s linear;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: right;
}
.header .email-address:hover {
  color: #d9d9d9;
}

.intro {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../../images/intro-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.intro::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.75) 0%, rgba(51, 51, 51, 0) 100%);
}
.intro .btn {
  margin-top: 350px;
}

.kitchen {
  padding: 193px 0 120px 0;
}
.kitchen .title-box {
  text-align: center;
  padding-bottom: 212px;
}
.kitchen .title-box .title {
  margin-bottom: 80px;
}
.kitchen-boxes {
  display: flex;
  gap: 40px;
  align-items: start;
}
.kitchen .right-box {
  margin-top: 120px;
  width: 100%;
}
.kitchen .right-box .btn {
  margin: 80px 80px 0 auto;
  width: fit-content;
}
.kitchen-box {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2509803922);
  height: 636px;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 40px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.kitchen-box:hover {
  transform: scale(1.02);
}
.kitchen-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.1), #222);
  z-index: 0;
}
.kitchen-box .kitchen-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -2;
}
.kitchen-box__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  z-index: 1;
}
.kitchen-box .kitchen-title {
  font-family: "Playfair Display", "Times New Roman";
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
}
.kitchen-box .kitchen-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  padding: 30px 0 25px 0;
}
.kitchen-box .kitchen-model__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #fff;
  text-decoration: underline;
}
.kitchen .stosa-green {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-right: 80px;
}
.kitchen .stosa-green .title {
  margin-bottom: 80px;
}
.kitchen .stosa-green__img {
  width: 980px;
  height: 850px;
}
.kitchen .stosa-green__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kitchen .stosa-green__content {
  max-width: 666px;
  width: 100%;
}
.kitchen .stosa-green__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 80px 0;
}
.kitchen .stosa-green .btn {
  width: fit-content;
}

.why-stosa .title-box {
  text-align: center;
  margin-bottom: 80px;
}
.why-stosa__cards {
  display: flex;
  justify-content: center;
}
.why-stosa__card {
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out;
  max-width: 760px;
  overflow: hidden;
  height: 700px;
  width: 20%;
}
.why-stosa__card.active {
  width: 50% !important;
}
.why-stosa__card.active .why-stosa__content {
  opacity: 1;
  transition: 0.3s ease-in-out 0.3s;
}
.why-stosa__card.active .why-stosa__card-img {
  filter: none !important;
  transition: all 0.3s ease-in-out, filter 0.3s;
}
.why-stosa__card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out, filter 0.3s 0.3s;
}
.why-stosa__card .plus-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 75px;
  height: 75px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.why-stosa__card .plus-btn.active {
  transform: rotate(45deg);
}
.why-stosa__card .content-title {
  margin: 100px 0 80px;
  font-family: "Playfair Display", "Times New Roman";
  font-weight: 400;
  line-height: normal;
  font-size: 48px;
  line-height: normal;
}
.why-stosa__card .content-info {
  font-size: 16px;
  margin-bottom: 66px;
  line-height: 1.7;
}
.why-stosa__content {
  margin-top: auto;
  opacity: 0;
  transition: 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.2), #222);
  padding: 30px;
}
.why-stosa__content .btn {
  margin-top: auto;
}

/*# sourceMappingURL=main.css.map */
