@media screen and (max-width: 1850px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.products .art-series .products-boxes {
  flex-wrap: nowrap;
}

@media screen and (max-width: 1700px) {
  .products .product-box.right-box.mr-space {
    margin-right: 20px;
  }

  .products-boxes {
    gap: 30px;
  }

  .products .product-box.right-box.ml-space {
    margin-left: 20px;
  }

  .products .art-series__content {
    margin-right: 20px;
    width: 50%;
    margin-left: 30px;
  }

  .colors-finishes {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1555px) {
  .header .phone-number {
    font-size: 20px;
    line-height: 26px;
  }

  .header-nav__right {
    gap: 30px;
  }

  .header-logo__img {
    transform: scale(1.3);
    margin-right: 15px;
  }

  .header .nav-list {
    gap: 10px;
  }

  .products .product-box.left-box {
    max-width: 53%;
  }

  .products .product-box.right-box {
    max-width: calc(100% - 58%);
  }

  .stosa-palio__content {
    padding-left: 20px;
  }

  .colors-finishes .tabs {
    max-width: 100%;
  }

  .colors-finishes .content-box {
    width: 40%;
  }

  .colors-finishes.only-content .content-box {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .header {
    height: 100px;

    &-menu__btn {
      display: block;
    }

    &-left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .modern-kitchen__page .intro {
    height: 680px;
  }

  .header-logo__img {
    margin: 0;
  }

  .header-nav__right {
    overflow-y: auto;
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    width: 400px;
    padding: 30px;
    background: rgba(51, 51, 51, 0.95);
    transform: translateX(100%);
    transition: 0.34s ease-in-out;
    height: calc(100vh - 100px);
    border-left: 1px solid #fff;
    padding: 30px;

    &.active {
      transform: translateX(0);
    }
  }

  .header .nav-list {
    flex-direction: column;
    gap: 18px;
  }

  .header .email-address {
    text-align: left;
  }

  .header .header-right {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .scroll-down__btn,
  .scroll-up__btn {
    display: none;
  }

  .diller-boxes {
    .diller-content {
      width: 40%;
    }

    .diller-img__box {
      width: 60%;
    }
  }

  .product-page .intro-bottom__content {
    max-width: 100%;
    width: 100%;
    text-align: center;

    .title-bg {
      margin-top: -5rem;
    }

    .title {
      padding-bottom: 2rem;
    }
  }

  .kitchen .title-box .title {
    margin-bottom: 40px;
  }

  .kitchen .title-box {
    padding-bottom: 100px;
  }

  .kitchen-boxes {
    flex-direction: column;
  }

  .kitchen .right-box {
    margin-top: 0;
  }

  .kitchen-box {
    max-width: 932px;
    margin: 0 auto;
  }

  .kitchen .bottom-btn {
    max-width: 932px;
    margin: 0 auto;

    .btn {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .kitchen .stosa-green {
    padding-right: 15px;

    .title-bg {
      white-space: nowrap;
    }

    & > div {
      width: 50%;
    }
  }

  .why-stosa .title-box {
    margin-bottom: 20px;
  }

  .why-stosa__card {
    height: 90vh;
    min-height: 700px;
  }

  .why-stosa__card .content-title {
    margin-bottom: 30px;
  }

  .why-stosa__cards {
    height: 815px;
    overflow: hidden;
  }

  .why-stosa .btn {
    margin: 20px 0;
    transform: none !important;
    opacity: 1;
  }

  .news-events {
    margin-top: 100px;
  }

  .news-events .title-content {
    margin-bottom: 50px;
  }

  .news-events .title-content {
    gap: 102px;

    & > div {
      width: 50%;
    }

    .title-bg {
      white-space: nowrap;
      margin-left: -465px;
    }

    .title {
      margin-left: auto;
      width: fit-content;
      white-space: nowrap;
    }

    .siper-btns {
      margin-top: 30px;
      justify-content: space-between;

      & > button {
        opacity: 0.8;
      }
    }
  }

  .modern-kitchen__page .intro .bottom-content {
    max-width: 100%;
    text-align: center;
    width: 100%;
    padding: 30px 15px;

    .title,
    .title-bg {
      text-align: center;
    }
  }
}

.colors-finishes .content-box .title {
  white-space: nowrap;
}

@media screen and (max-width: 992px) {
  .only-content .bottom-content {
    margin-left: 0;
  }
  .colors-finishes .tab-items .tab-item {
    height: 80px;
  }
  .product-page .intro-bottom__content .title-bg {
    display: none;
  }
  .product-page .intro-bottom__content {
    height: 100px;
  }
  .product-page .intro-bottom__content .title {
    padding-bottom: 0;
    transform: translateY(60px);
  }
  .only-content .bottom-content {
    margin-right: 0;
  }

  .opening-systems .content-box .title-box,
  .colors-finishes .content-box .title {
    text-align: center;
  }

  .colors-finishes .bottom-content .watch-more {
    padding-top: 0;
  }

  .diller-boxes .diller-content {
    width: 100%;
    text-align: center;
    background: rgba(51, 51, 51, 0.95);
  }

  .diller-boxes .diller-img__box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .diller-content__info {
    margin: 0 auto;
    max-width: 80%;
  }

  .diller-content .title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer .line {
    border: 1px solid #ffffff;
  }

  .diller-content .btn {
    margin: 0 auto;
  }

  .diller-content__info {
    text-align: center;
  }

  .diller-content__info {
    padding: 50px 0;
  }

  .kitchen .stosa-green {
    position: relative;
    z-index: 1;

    &__img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 702px;

      img {
        opacity: 0.2;
      }
    }

    &__content {
      width: 100% !important;
      max-width: 100%;
      text-align: center;
      padding-top: 100px;

      .btn {
        margin: 75px auto 0 auto;
        padding: 30px;
        height: 78px;
      }
    }

    &__info {
      max-width: 550px;
      margin: 0 auto;
    }
  }

  .why-stosa__cards {
    flex-direction: column;
    overflow: hidden;
    height: fit-content;

    .why-stosa__card {
      height: 150px;
      overflow: hidden;
      min-height: fit-content;
      width: 100%;
      max-width: 100%;

      &.active {
        width: 100% !important;
        height: 700px;
      }
    }
  }

  .news-events__swiper {
    text-align: center;
  }

  .kitchen-box {
    padding: 30px;
  }

  .kitchen-box {
    height: 430px;
  }

  .news-events__swiper-img {
    height: auto;
  }

  .products-boxes {
    flex-direction: column;
  }

  .products .product-box.left-box {
    max-width: 80%;
    margin: 0 auto;
  }

  .products .product-box.right-box {
    max-width: 60%;
    margin: 0 auto;
  }

  .products .product-box.right-box.mr-space,
  .products .product-box.right-box.ml-space {
    margin-left: auto;
    margin-right: auto;
  }

  .products .product-box.left-box .product-img__box {
    padding: 30px 30px 0 0;
  }

  .products .product-box.right-box .product-img__box,
  .products .product-box.left-box .product-img__box {
    height: auto;
  }

  .products .product-img__box .product-title {
    bottom: 8px;
  }

  .products .product-box.left-box .product-img__box.right {
    padding-top: 30px;
  }

  .products .product-box.left-box .product-img__box.right .product-img__bg {
    left: -30px;
    width: calc(100% - 30px);
  }

  .products .product-img__box .product-img__bg {
    bottom: 30px;
    left: 30px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }

  .products .product-img__box .product-title {
    bottom: -8px;
  }

  .products .art-series .title-box {
    margin: 0 auto 50px auto;
    text-align: center;

    .title,
    .title-bg {
      text-align: center;
    }
  }

  .products .art-series {
    margin-top: 100px;
  }

  .products .art-series__info {
    text-align: center;
  }

  .products .art-series__content {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .products .product-img__box.last .product-img__bg {
    width: 100%;
    height: 100%;
  }

  .products .art-series__title-box {
    text-align: center;
  }

  .products .art-series .btn {
    margin: 50px auto 0 auto;
  }

  .stosa-palio__content {
    padding-left: 15px;
  }

  .stosa-palio__boxes {
    & > div {
      width: 100%;
      max-width: 50%;

      img {
        object-fit: cover;
      }
    }
  }

  .stosa-palio__swiper .swiper-pagination {
    margin-left: 15px;
  }

  .stosa-palio__swiper {
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .colors-finishes {
    flex-direction: column;
    row-gap: 30px;
  }

  .colors-finishes .content-box {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .stosa-palio .navigate-btn {
    justify-content: center;
  }

  .product-page .stosa-palio .left-box {
    text-align: center;
    max-width: 100%;
  }

  .product-page .stosa-palio .btns {
    align-items: center;
  }

  .product-page .stosa-palio .links {
    align-items: center;
  }

  .product-page .stosa-palio__boxes .img-box img {
    height: auto;
  }

  .kitchen-box {
    text-align: center;
    height: 466px;
  }

  .kitchen-box .kitchen-title {
    font-size: 32px;
    line-height: 36px;
  }

  .why-stosa__card .plus-btn {
    border-width: 1px;
  }

  .intro .btn {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
  }

  .title-info {
    font-size: 22px;
    line-height: 26px;
  }

  .kitchen .title-box .title {
    margin-bottom: 80px;
  }

  .title {
    font-size: 2rem;
  }

  .kitchen-boxes {
    margin: 0 -15px;
  }

  .kitchen-box {
    padding: 16px 30px;
    height: 300px;
  }

  .kitchen .title-box {
    padding-bottom: 40px;
  }

  .kitchen .bottom-btn .btn {
    margin: 40px 30px 0 30px;
  }

  .kitchen .stosa-green .title {
    margin-bottom: 50px;
  }

  .why-stosa__card .content-title {
    font-size: 32px;
    line-height: 38px;
  }

  .why-stosa__cards .why-stosa__card.active {
    height: 820px;
  }

  .news-events .title-content .siper-btns {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    justify-content: space-evenly;

    button {
      width: 50px;
      height: 50px;
      border-width: 1px;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  .news-events .title-content > div {
    text-align: center;
    width: 100%;
  }

  .news-events {
    position: relative;
  }

  .news-events__swiper-info {
    margin-bottom: 50px;
  }

  .footer .line {
    max-width: 100%;
    width: 100%;
    border-width: 1px;
    height: 1px;
  }

  .news-events__swiper {
    .btn {
      margin: 0 auto;
    }
  }

  .footer nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    ul {
      gap: 30px;
    }

    a {
      font-size: 0.875rem;
      letter-spacing: 2px;
      line-height: 1;
    }
  }

  .header-nav__right {
    width: 100%;
    border: none;
  }

  .kitchen .title-bg,
  .why-stosa .title-bg {
    margin-left: -150px;
  }

  .products .art-series__content {
    max-width: 100%;
  }

  .modern-kitchen__page {
    .btn {
      text-align: left;
    }
  }

  .modern-kitchen__page .title-bg {
    margin-left: -150px;
  }

  .products .art-series__title-box .title-bg {
    margin-left: 0;
  }

  .products .product-box.right-box .product-img__box,
  .products .product-box.left-box .product-img__box {
    height: 275px;
  }

  .products .product-box.left-box,
  .products .product-box.right-box {
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px;
  }

  .products .product-box.left-box .product-img__box {
    padding: 15px 15px 0 0;
  }

  .products .product-img__box .product-title .title-bg {
    margin-left: 0;
  }

  .products .product-box.left-box .product-img__box.right .product-img__bg {
    left: 0;
    bottom: 15px;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
  }

  .products .product-box.left-box .product-img__box.right {
    padding-top: 15px;

    .product-img {
      padding-left: 15px;
    }
  }

  .btn {
    padding: 25px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .modern-kitchen__page .intro .bottom-content {
    .title-bg {
      display: none;
    }

    .title {
      margin: 0;
    }
  }

  .products .art-series__title-box {
    margin-top: 50px;
  }

  .footer nav {
    padding: 50px 0;
  }

  .products .get-catalog__btn {
    margin: 50px 15px 0 15px;
  }

  .modern-kitchen__page .intro {
    height: 600px;
  }

  .modern-kitchen__page .intro .bottom-content {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products .product-img__box .product-title {
    bottom: -18px;

    .title-bg {
      transform: translateY(-8px);
    }
  }

  .footer-bottom {
    padding: 50px 0;
  }

  .stosa-palio__boxes {
    flex-direction: column;
    align-items: start;

    & > div {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .stosa-palio .sub-title {
    margin-top: 50px;
  }

  .stosa-palio__content {
    padding: 50px 0;
  }

  .stosa-palio .navigate-btn {
    padding-left: 15px;
    margin-bottom: 50px;
  }

  .stosa-palio__boxes .left-box {
    max-width: 100%;
  }

  .stosa-palio__boxes .img-box {
    max-width: 100%;
    height: 400px;
  }

  .stosa-palio__boxes.bottom-box .title-bg {
    margin-left: 0;
    text-align: center;
    font-size: 50px;
    line-height: 56px;
  }

  .stosa-palio__boxes .right-box {
    text-align: center;
  }

  .stosa-palio__swiper .swiper-slide {
    height: auto;
  }

  .colors-finishes .tab-items .tab-item {
    height: 80px;
    width: 120px;
  }

  .colors-finishes .tabs {
    gap: 15px;
    flex-direction: column;
  }

  .colors-finishes .tab-contents {
    height: 400px;
    width: 100%;
  }
  .colors-finishes {
    padding-left: 20px;
    padding-right: 20px;
  }
  .colors-finishes .tabs {
    min-height: unset;
  }
  .colors-finishes .tab-content .content-name {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-image: linear-gradient(180deg, #111, transparent 99%);
    text-align: center;
    justify-content: center;
  }
  .opening-systems {
    .tab-items {
      height: fit-content;
      margin-top: auto;
    }
  }

  .colors-finishes .tabs {
    height: fit-content;
  }

  .colors-finishes .bottom-content .watch-more {
    font-size: 16px;
    line-height: 20px;
    padding-right: 15px;
  }

  .stosa-palio__swiper {
    margin-bottom: 50px;
  }

  .certified-quality {
    margin-top: 50px;
  }

  .colors-finishes {
    .tabs {
      overflow: hidden;
    }
  }

  .only-content .bottom-content {
    text-align: center;

    .btn {
      margin: 0 auto;
    }
  }

  .colors-finishes .tab-items {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    gap: 0;
    margin-top: -90px;

    .tab-item {
      width: 100%;
      margin-right: 0;
      transform: translateY(10vw);
      height: 35vw;

      &.active {
        transform: translate(0);
      }
    }
  }

  .intro-swiper {
    height: 600px;
  }
}

@media screen and (max-width: 480px) {
  .certified-quality .title-bg {
    margin-left: -200px;
  }

  .certified-quality .title {
    line-height: 30px;
  }

  .only-content.left-content .title-bg {
    left: -100px;
  }

  .colors-finishes .content-box .title-bg {
    left: -100px;
  }
}
