.btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  padding: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all .2s linear;
  width: fit-content;
  max-height: 78px;

  path {
    transition: all .2s linear;
  }

  &:hover,
  &.white-bg {
    background: #ffffff;
    color: #333333;

    path {
      stroke: #333333;
    }
  }

  &.white-bg {
    &:hover {
      background: #ececec;
    }
  }
}
