// Font: Montserrat,  Playfair Display
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

input:focus {
  outline: none !important;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  -moz-outline-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;

  &.hidden {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
}

// title
.title-bg {
  font-family: "Playfair Display", "Times New Roman";
  font-size: 110px;
  font-weight: 400;
  line-height: 146.63px;
  color: #ffffff1a;
  white-space: nowrap;
}

.title {
  font-family: "Playfair Display", "Times New Roman";
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  color: #ffffff;
  margin-top: -80px;
}

.title-info {
  font-size: 30px;
  font-weight: 400;
  line-height: 36.57px;
  color: #ffffff;
}

// title

.scroll-up__btn {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: .5s cubic-bezier(.23, .95, .24, .97);
  margin: 30px;
  width: 95px;
  height: 95px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  visibility: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.scroll-down__btn {
  position: absolute;
  transition: .5s cubic-bezier(.23, .95, .24, .97);
  margin: 30px;
  width: 95px;
  height: 95px;
  cursor: pointer;
  z-index: 100;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.slider .flickity-prev-next-button,
.chisiamo-timeline--slider .flickity-prev-next-button {
  background-image: url(../../images/icons/next-arrow.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0px;
  background-position: center;
}

.chisiamo-timeline--slider .flickity-prev-next-button.previous:before,
.chisiamo-timeline--slider .flickity-prev-next-button:before,
.icon-outline-arrow-right:before,
.slider .flickity-prev-next-button:before {
  display: none;
}

.chisiamo-timeline--slider .flickity-prev-next-button.previous {
  transform: rotate(180deg);
  top: 47%;
}

.chisiamo-certs--cert-indicator::after {
  background: url(../../images/icons/down-arrow-svgrepo-com.svg);
  content: "";
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
}

// https://cdn-icons-png.flaticon.com/512/2985/2985150.png