// intro start
.intro {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../../images/intro-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.75) 0%, rgba(51, 51, 51, 0) 100%);
  }

  .btn {
    margin-top: 350px;
  }
}

// intro end

// kitchen start
.kitchen {
  padding: 193px 0 120px 0;

  .title-box {
    text-align: center;
    padding-bottom: 212px;

    .title {
      margin-bottom: 80px;
    }
  }

  &-boxes {
    display: flex;
    gap: 40px;
    align-items: start;
    margin-bottom: 100px;
  }

  .right-box {
    margin-top: 120px;
    width: 100%;

    .btn {
      margin: 80px 80px 0 auto;
      width: fit-content;
    }
  }

  &-box {
    box-shadow: 0px 0px 50px 0px #00000040;
    height: 636px;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 40px;
    overflow: hidden;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(34, 34, 34, .1), #222);
      z-index: 0;
    }

    .kitchen-img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -2;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      position: relative;
      z-index: 1;
    }

    .kitchen-title {
      font-family: 'Playfair Display', 'Times New Roman';
      font-size: 48px;
      font-weight: 400;
      line-height: 63.98px;
    }

    .kitchen-info {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.5px;
      padding: 30px 0 25px 0;
    }

    .kitchen-model__link {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.5px;
      color: #fff;
      text-decoration: underline;
    }
  }

  .stosa-green {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-right: 80px;

    .title {
      margin-bottom: 80px;
    }

    &__img {
      width: 980px;
      height: 850px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      max-width: 666px;
      width: 100%;
    }

    &__info {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 80px 0;
    }

    .btn {
      width: fit-content;
    }
  }
}

// kitchen end

// why-stosa start
.why-stosa {
  .title-box {
    text-align: center;
    margin-bottom: 80px;

    .title-bg {
      text-transform: up;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
  }

  &__card {
    position: relative;
    z-index: 1;
    transition: .3s ease-in-out;
    max-width: 760px;
    overflow: hidden;
    height: 700px;
    width: 20%;

    &.active {
      width: 50% !important;

      .why-stosa__content {
        opacity: 1;
        transition: .3s ease-in-out .3s;
      }

      .why-stosa__card-img {
        filter: none !important;
        transition: all .3s ease-in-out, filter .3s;
      }
    }



    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: grayscale(1);
      transition: all .3s ease-in-out, filter .3s .3s;
    }

    .plus-btn {
      position: absolute;
      top: 40px;
      right: 40px;
      width: 75px;
      height: 75px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s ease-in-out;
      z-index: 1;

      &.active {
        transform: rotate(45deg);
      }
    }

    .content-title {
      font-family: 'Playfair Display', 'Times New Roman';
      font-weight: 400;
      line-height: normal;
      font-size: 48px;
      margin: 100px 0 80px 0;
      line-height: normal;
    }

    .content-info {
      font-size: 16px;
      line-height: 1.7;
    }
  }

  &__content {
    margin-top: auto;
    opacity: 0;
    transition: .3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(34, 34, 34, .2), #222);
    padding: 30px 30px 0 30px;

    .btn {
      margin-top: auto;
    }
  }
}

// why-stosa end

// news-events
.news-events {
  margin: 120px 0;

  .title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .title-box {
    .title-bg {
      margin-left: -236px;
    }

    .title {
      margin-left: 335px;
    }
  }

  .siper-btns {
    display: flex;
    gap: 120px;

    .swiper-btn {
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
    }
  }

  .btn.white-bg {
    margin: 80px auto 0 auto;
  }

  &__swiper {
    user-select: none;

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: unset;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-img {
      height: 353px;
      object-fit: cover;
      width: 100%;
    }

    &-title {
      font-family: 'Playfair Display', 'Times New Roman';
      font-size: 30px;
      font-weight: 400;
      margin-top: 30px;
      line-height: 39.99px;
    }

    &-info {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 30px 0 80px 0;
    }
  }
}

// news-events