.kitchen-page {
  .intro {
    .bottom-content {
      max-width: 363px;

      .title {
        text-align: left;
      }
    }
  }
}

// stosa-palio
.stosa-palio {
  &__content {
    padding: 80px 0 120px 180px;
  }

  .navigate-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: #fff;
    margin-bottom: 62px;

    svg {
      transform: rotate(180deg);
    }
  }

  .title {
    margin-top: 0;
  }

  .sub-title {
    margin: 80px 0 40px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36.57px;
  }

  .desc-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .left-box {
      max-width: 570px;
    }

    .img-box {
      height: 630px;
    }

    .right-box {
      max-width: 880px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.bottom-box {
      margin-top: 80px;
    }
  }

  &__swiper {
    margin-bottom: 110px;
    position: relative;
    padding-bottom: 80px;

    .swiper-slide {
      height: 500px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination {
      display: flex;
      margin-left: 180px;
      gap: 30px;
      top: unset;
      bottom: 0;

      .swiper-pagination-bullet {
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff40;
        opacity: 1;
        width: unset;
        height: unset;
        background: transparent;
        cursor: pointer;
      }

      .swiper-pagination-bullet-active {
        color: #fff;
      }
    }
  }
}

// stosa-palio

// colors-finishes
.colors-finishes {
  padding-left: 110px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: calc(100% - 1314px);

    .title-bg {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
    }

    .title {
      margin-top: 65px;
    }
  }

  .tabs {
    display: flex;
    align-items: start;
    gap: 20px;
    height: 940px;
    justify-content: end;
    max-width: 1314px;
    gap: 30px;
    width: 100%;
  }

  .tab-contents {
    height: 100%;
    max-width: 1104px;
  }

  .tab-content {
    height: 100%;
    display: none;
    animation: fade 0.8s ease-in-out;
    position: relative;

    &.show {
      display: block;
    }

    .content-name {
      font-size: 16px;
      display: flex;
      line-height: 27px;
      color: #fff;
      position: absolute;
      top: unset;
      bottom: 0;
      width: 100%;
      height: 160px;
      padding: 30px 25px;
      justify-content: flex-start;
      align-items: flex-end;
      text-align: left;
      background-image: linear-gradient(0deg, #111, transparent 99%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tab-items {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .tab-item {
      width: 250px;
      height: 140px;
      margin-right: -60px;
      transition: all 0.3s ease-in-out;

      &.active {
        transform: translateX(-60px);
        box-shadow: 0px 4px 50px 0px #000000bf;
      }
    }

    .color-img {
      width: 100%;
      height: 100%;
    }
  }

  .bottom-content {
    .watch-more {
      font-size: 30px;
      font-weight: 400;
      line-height: 36.57px;
      margin-bottom: 30px;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// colors-finishes

// certified-quality
.certified-quality {
  margin: 120px 0;

  .title-box {
    text-align: center;
  }

  .certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 80px;
  }

  .certificate {
    max-width: 260px;
    text-align: center;

    .certificate-name {
      display: block;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.5px;
    }
  }
}

// certified-quality